<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-AU-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap - Practicas con b</title>
    <link
      rel="stylesheet"
      th:href="@{vendor/bootstrap/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" th:href="@{css/heroic-features.css}" />
  </head>

  <body>
    <div th:include="~{administrador/template_admin.html :: header}"></div>

    <!-- main  -->
    <main class="container">
      <div class="row">
        <div class="col">
          <div
            class="carousel slide carousel-fade"
            id="mi-carousel"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="carousel-caption">
                  <h5>Titulo de mi Articulo</h5>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Exercitationem consequuntur
                  </p>
                </div>
                <img class="img-fluid" src="img/carousel1.jpg" alt="imagen1" />
              </div>
              <div class="carousel-item" data-bs-interval="4000">
                <div class="carousel-caption">
                  <h5>Titulo de mi Articulo</h5>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Exercitationem consequuntur
                  </p>
                </div>
                <img class="img-fluid" src="img/carousel2.jpg" alt="imagen2" />
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  <h5>Titulo de mi Articulo</h5>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Exercitationem consequuntur
                  </p>
                </div>
                <img class="img-fluid" src="img/carousel3.jpg" alt="imgen3" />
              </div>
            </div>

            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#mi-carousel"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#mi-carousel"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Siguiente</span>
            </button>

            <div class="carousel-indicators">
              <button
                class="active"
                type="button"
                data-bs-target="#mi-carousel"
                data-bs-slide-to="0"
                arial-label="Slide 1"
              ></button>

              <button
                type="button"
                data-bs-target="#mi-carousel"
                data-bs-slide-to="1"
                arial-label="Slide 2"
              ></button>

              <button
                type="button"
                data-bs-target="#mi-carousel"
                data-bs-slide-to="2"
                arial-label="Slide 3"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <div class="row py-5">
        <div class="col">
          <div class="border-bottom">
            <h1 class="text-center">Galeria</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
          <div class="card">
            <img class="card-img-top" src="" alt="magen c2" />
            <div class="card-body">
              <h3 class="card-title">Impresora 1</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
              <a href="" class="btn btn-sm btn-primary">Comprar</a>
              <a href="" class="btn btn-sm btn-secondary">Detalles</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
          <div class="card">
            <img class="card-img-top" src="" alt="magen c2" />
            <div class="card-body">
              <h3 class="card-title">Impresora 2</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
              <a href="" class="btn btn-sm btn-primary">Comprar</a>
              <a href="" class="btn btn-sm btn-secondary">Detalles</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
          <div class="card">
            <img class="card-img-top" src="" alt="magen c2" />
            <div class="card-body">
              <h3 class="card-title">Impresora 3</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
              <a href="" class="btn btn-sm btn-primary">Comprar</a>
              <a href="" class="btn btn-sm btn-secondary">Detalles</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
          <div class="card">
            <img class="card-img-top" src="" alt="magen c2" />
            <div class="card-body">
              <h3 class="card-title">Impresora 4</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
              <a href="" class="btn btn-sm btn-primary">Comprar</a>
              <a href="" class="btn btn-sm btn-secondary">Detalles</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
          <div class="card">
            <img class="card-img-top" src="" alt="magen c2" />
            <div class="card-body">
              <h3 class="card-title">Impresora 5</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
              <a href="" class="btn btn-sm btn-primary">Comprar</a>
              <a href="" class="btn btn-sm btn-secondary">Detalles</a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div th:include="~{administrador/template_admin.html :: footer}"></div>
    <script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>
