<!--   header  -->
<div th:fragment="header">
  <header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a th:href="@{/{pr} (pr=${homedelusuario})}" class="navbar-brand" th:text="${session.appname}"
          >Nombre Aplicacion</a
        >
        <!-- Barra de BUsqueda -->
        <form method="post" action="#" class="d-flex">
          <input
            type="search"
            name=""
            id=""
            class="form-control me-2"
            placeholder="Buscar"
            aria-label="Buscar"
          />
          <!--  <button class="btn btn-outline-light" type="button">Buscar</button> -->
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Buscar
          </button>
        </form>
        <!--    Boton para el menu Movil  -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#contenidoMenu"
          aria-controls="contenidoMenu"
          aria-expanded="false"
          aria-label="Mostrar / Ocultar Menu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--     Menu de Navegacion  -->
        <div class="collapse navbar-collapse" id="contenidoMenu">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          
            <!--  <li class="nav-item"><a th:href="@{/administrador}" class="nav-link">Inicio</a> </li> -->

            <!-- DropDown -->
            <li class="nav-item dropdown">
              <a
                href=""
                class="nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                id="dropdown-menu"
                th:text="${session.usuario.nombre}"
                th:if="${session.usuario.id>0}"
              >
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdown-menu" th:each="im, it : ${session.menus}">

                <li>
                  <a th:href="@{/{p} (p=${im.destino})}" style="width: auto;"  class="dropdown-item" th:text="${im.menu}" 
                  th:classappend="${it.index==0 ? 'active' : ''}" 
                  ></a>
                </li>
                

             
               <!--  <li><a href="" class="dropdown-item">Laptops</a></li>
                <li><a href="" class="dropdown-item">Smartphones</a></li>
                <li><a href="" class="dropdown-item">Drones</a></li>
                <li><a href="" class="dropdown-item">Accesorios</a></li> -->

              </ul>
            </li>

            <li class="nav-item " th:if="${session.usuario.id==0}"><a href="" class="nav-link">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
<div th:fragment="footer">
  <!-- Footer  
     <footer class="container">
        <div class="row border-top py-lg-5 justify-content-between">
            <div class="col-auto">
                <h3 class="lead">SinergiaStore</h3>
                <a href="" class="btn btn-link">Acerca de</a>
                <a href="" class="btn btn-link">Contacto</a>
            </div>
            <div class="col-auto">
                <a href="" class="btn btn-link">Subir de Página</a>
            </div>
        </div>
     </footer> 
     -->
  <!-- Footer -->
  <footer class="bg-dark">
    <div class="row border-top py-lg-5 justify-content-between">
      <div class="col-auto">
        <h5 class="m-0 text-center text-white">
          Copyright &copy; Spring eCommerce 2021
        </h5>
        <a href="" class="btn btn-link text-white">Acerca de</a>
        <a href="" class="btn btn-link text-white">Contacto</a>
      </div>
      <div class="col-auto">
        <a href="" class="btn btn-link text-white">Subir de Página</a>
      </div>
    </div>
    <!-- /.container -->
  </footer>
</div>
